.loader-wrapper{
  width: 100%;
  height:100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cube {
  animation: 2s lightIn cubic-bezier(0.1, 0.7, 0.8, 0.1) infinite alternate;
}

@keyframes lightIn {
  0% {
    fill: #001219;
  }
  50% {
    fill: #FCA311;
  }
  100% {
    fill: #001219;
  }
  
}

#loading {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  opacity: 0.9;
  background-color:black;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
}