nav {
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  flex-direction: row;
  align-items: center;
  padding: 0px 1.5em;
}

.logo {
  font-family: "Bungee", sans-serif;
  font-size: 2em;
  padding-top: 0.5em;
}

.generic-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fa-angles-down {
  color: red;
}